.leftMarginDivs{
    margin-left: 20%;
}

.ContainerClass{
    background-color: cadetblue;
}

h2{
    padding-left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
}
h3{
    text-align: center;   
}

li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: initial;
    padding-left: 10 px;
    align-self: center;
}

.first_div{
    padding-left: 5%;
    display: block;
    width: 80%;
}

.child_div {
    display: inline-block;
    box-shadow: 0 2px 20px;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;
    border-style: outset;
    margin: 10px 20px 10px 10px;
    padding: 5px 5px 5px 5px;
    width: 200px;
    min-width: 100px;
    min-height: 250px;
}

.child_div2 {
    box-shadow: 0 3px 20px;
    margin: 10px 20px 10px 10px;
    padding: 5px 5px 5px 5px;
    width: 65%;
    min-width: 100px;
    min-height: 150px;
}